<% layout('./layout/boilerplate') -%>

<div class="border p-3 mx-auto w-50 mt-5">
  <h1>Sign Up Here</h1>
  <form action="/register" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Passowrd</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email ID</label>
      <input
        class="form-control"
        name="email"
        id="email"
        rows="1"
      ></input>
    </div>
    <div class="mb-3">
      <input type="radio" name="role" id="consumer" value="consumer">
      <label for="consumer" style="margin-right: 1rem;">Consumer</label>
      
      <input type="radio" name="role" id="retailer" value="retailer">
      <label for="retailer">Retailer</label>
    </div>
    <p>Already have an account ? <a href="/login">Login</a></p>
    <button type="submit" class="btn btn-success btn-sm">Sign Up</button>
  </form>
</div>
